[user]
	email = devin@getcraft.com

[alias]
   # Some useful alias that could make your life easier
   # You could add your own alias if you want to
   hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -n 15
   hist2 = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  #  s = status -s
  #  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  #  lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --tags
[core]
	trustctime = false
